@import "../../../node_modules/bootstrap";
@import "montserrat.css";

:root {
  /*----------------------------------------------------------*/
  --dark-blue: #051630;
  --white: #ffff;
  --white-gray: #d9d9d9;
  --white-gray-rgb: rgba(217, 217, 217, 0.1);
  --white-gray-shadow: #f3f3f3;
  --green: #02dd68;
  --dark-green: #2b9958;
  --gray: #4D4D4D;
  --gray-dark: #3F3E3E;
  --gray-white: #F3F3F380;
  --gray-transparent: #D9D9D92E;

}
body {
  font-family: "Montserrat", sans-serif;
}

.dropdown-toggle::after {
  display: none;
}
/*--------------------------------------------------------*/

.text-dark-blue {
  color: var(--dark-blue);
}

.text-green {
  color: var(--green);
}

.text-green:hover {
  color: var(--green);
}

.text-gray-dark {
  color: var(--gray-dark);
}

.bg-green {
  background-color: var(--green);
}
.bg-white-gray {
  background-color: var(--white-gray)
}
.bg-white-rgb {
  background-color: var(--white-gray-rgb)
}
.bg-dark-blue {
  background-color: var(--dark-blue)
}
.bg-grey {
  background-color: var(--gray-white)
}
.bg-grey-transparent {
  background-color: var(--gray-transparent)
}
.bg-white-shadow {
  background-color: var(--white-gray-shadow)
}
.bg-img {
  background-image: url("../../../public/images/background.jpg")
}
@media (min-width: 767px) {
  .w-md-65{
    width: 65% !important;
  }
  .m-3rem{
    margin: 3rem !important;
  }
}
@media (max-width: 767px) {
  .w-md-100{
    width: 100% !important;
  }
  .w-md-2-line{
    width: 10% !important;
  }
}

.h-280 {
  height: 280px !important;
}

.w-3 {
  width: 3%;
}
.w-18rem {
  width: 18rem !important;
  height: 10rem !important;
}
.w-20rem {
  width: 20rem !important;
}

.w-65 {
  width: 65%;
}
.w-30px {
  width: 30px;
}
.m-3rem {
  margin: 3rem !important;
}

.m-5 {
  margin: 5rem !important;
}

.p-4rem {
  padding: 4rem !important;
}

.pb-7rem {
  padding-bottom: 7rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}
.mb-6 {
  margin-bottom: 6rem !important;
}
.ms-n1 {
  margin-left: -1.3rem;
}

.ms-n2 {
  margin-left: -1.3rem;
}

.mt-n2 {
  margin-top: -1.3rem;
}
.mt-n3 {
  margin-top: -2.3rem;
}

.mb-7 {
  margin-bottom: 7rem !important;
}
.mb-8 {
  margin-bottom: 8rem !important;
}
.mt-6 {
  margin-top: 6rem !important;
}
.mt-7 {
  margin-top: 7rem !important;
}
.mt-8 {
  margin-top: 8rem !important;
}
.mt-34 {
  margin-top: -34px;
}
.mt-54 {
  margin-top: -54px;
}
.mt-14 {
  margin-top: -14px !important;
}
.mt-40 {
  margin-top: -40px;
}
.mt-50 {
  margin-top: -50px;
}

.mt-94 {
  margin-top: -77px;
}
.mb-50 {
  margin-bottom: -50px;
}

/*-------------------------NavBar-------------------------------*/
.nv-image {
@media (max-width: 767px) {
  .dropdown-menu {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .dropdown-item {
    padding: 0px !important;
    padding-left: 7px !important;
  }
}
}

img {
  transition: transform ease-in-out 0.2s;
  -webkit-transition: transform ease-in-out 0.2s;
  -moz-transition: transform ease-in-out 0.2s;
  -ms-transition: transform ease-in-out 0.2s;
  -o-transition: transform ease-in-out 0.2s;
}
.show > img {
  transform: rotate(180deg);
  transition: all ease-in 0.2s;
  -webkit-transition: all ease-in 0.2s;
  -moz-transition: all ease-in 0.2s;
  -ms-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
}
.navbar-toggler span {
  transform: rotate(270deg);
  transition: all ease-in 0.2s;
  -webkit-transition: all ease-in 0.2s;
  -moz-transition: all ease-in 0.2s;
  -ms-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}
.collapsed span {
  transform: rotate(180deg);
  transition: all ease-in 0.2s;
  -webkit-transition: all ease-in 0.2s;
  -moz-transition: all ease-in 0.2s;
  -ms-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.nv-image {
  background-image: url("/public/images/sff-navbar-bg.jpg");
}
#basic-nav-dropdown {
  min-width: 1rem;
  border: none !important;
}

@media (max-width: 767px) {
  .nav-item-nav .dropdown-menu {
    border: none !important;
    background-color: transparent;
  }
}
.nav-link.active,
.nav-link:hover,
.nav-link:focus,
span:hover {
  color: var(--green) !important;
}
/*-------------------------Botones (nav, footer, en general)------------------------------*/
.dropdown-menu {
  min-width: 10px;
  background: rgb(248, 248, 248);
}

.dropdown-item:active {
  color: var(--green) !important;
  /* background: none; */
}
.dropdown-item:hover {
  color: var(--green) !important;
  background: var(--dark-blue)
}
.fi-img {
  background-image: url("../../../public/images/sff-form-instapay.jpg");
  background-size: cover;
}
#form .btn {
  background: var(--green) !important;
  border-radius: 4px;
}
#form-instapay .btn {
  background: var(--green) !important;
  border-radius: 4px;
}
#form .btn:hover {
  background: var(--green) !important;
  color: var(--dark-blue);
}
#bottom-footer:hover {
  background-color: var(--green);
  color: var(--dark-blue);
}
@media (max-width: 767px) {
  .fi-img{
    background-image: url("../../../public/images/sff-form-instapay-mobile.jpg");
    background-size: cover;
  }
}
/*-------------------------*/
@media (max-width: 767px) {
  .dropdown-menu {
    width: 35%;
    margin-left: 65%;
  }
  .navbar-toggler:focus {
    box-shadow: 0 0 0 var(--gray-transparent);
  }
}
/*-------------------------Fonts------------------------------*/
.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.f-1 {
}
.fs-5 {
  font-size: 1.22rem !important;
}
.fs-2rem {
  font-size: 2.1rem !important;
}

@media (max-width: 767px) {
  .fs-2rem {
    font-size: 1.4rem !important;
  }
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}

/*------------------------Sections----------------------------*/
.info-container {
  padding-top: 90px;
  top: 50%;
  text-align: right;
}
.slider-container {
  position: absolute;
  top: 50%;
  transform: translate(10%, -20%);
  text-align: left;
}
.banner-container {
  position: absolute;
  top: 30%;
  transform: translate(10%, -20%);
  text-align: left;
}

@media (max-width: 767px) {
  .banner-container {
    left: 5%;
  }
}
.gray-section {
  flex: 1;
  background-color: #dddddd; /* Color gris de fondo */
  padding: 100px;
}

.white-section {
  flex: 1;
  background-color: #ffffff; /* Color blanco de fondo */
  padding: 100px;
  /* max-height: 936px;
  min-height: 936px; */
}

/*-------------------------Sections Mobile------------------*/
.slider-container-mobile {
  position: absolute;
  top: 40%;
  transform: translate(0%, -20%);
  text-align: left;
}
.banner-container-mobile{
  position: absolute;
  top: 30%;
  transform: translate(10%, 20%);
  text-align: left;
}
/*-------------------------Cards------------------------------*/

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: -100px;
}
.card-column {
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 40px; */
}
.flip-container {
  background-color: transparent;
  width: 300px;
  height: 300px;
  /* border: 1px solid #ccc; */
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 15px;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.1);
}
.flip-container:hover .card {
  transform: rotateY(180deg);
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: #051630;
  border-radius: 15px;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 5rem;
  background-color: #051630;
  color: white;
  transform: rotateY(180deg);
  border-radius: 15px;
}
.list-group li {
  margin-left: 5px;
}

.icons {
  width: 54px;
  margin-bottom: 10px;
}
.icons2 {
  width: 40px;
  margin-bottom: 10px;
}

.card-icon,
.card-text {
  font-size: 35px;
  backface-visibility: hidden;
}
.card-icon-back,
.card-text-back {
  font-size: 20px;
  backface-visibility: hidden;
  margin: 10px;
  margin-bottom: 0px;
  color: #02da68;
}
.card-text-bottom {
  font-size: 19px;
  line-height: 20px;
  margin-top: 20px;
  backface-visibility: hidden;
}
.card-text-bottom-back {
  font-size: 15px;
  margin-top: 20px;
  text-align: left;
  margin: 15px;
  backface-visibility: hidden;
  line-height: 20px;
}
.line-front {
  width: 60px;
  height: 3px;
  background-color: #02da68;
}
.line-back {
  width: 90%;
  height: 3px;
  background-color: #02da68;
  margin-top: 5px;
  margin-left: 10px;
}
/*-------------------------Cards-mobile---------------------------*/
#carousel-mobile .carousel-indicators [data-bs-target] {
  background-color: var(--dark-blue);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.cards-mobile {
  text-align: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.2);
}
/*-------------------------Cards Mobile----------------------------*/
.mobile-card {
  width: 300px;
  height: 300px;
}
/* #carousel-mobile .carousel-indicators [data-bs-target] {
  background-color: red !important;
} */

#carousel-mobile .carousel-indicators [data-bs-target] {
  background-color: rgba(217, 217, 217, 1);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

#carousel-mobile .carousel-indicators .active {
  background-color: #00ff00;
  border-radius: 50%;
}
#carousel-mobile .carousel-indicators li {
  border-radius: 50% !important;
  background-color: red !important; /* Color verde */
}

.front-mobile {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  font-size: 5rem;
  color: #051630;
  border-radius: 15px;
}
/*-------------------------CardsInfo-mobile------------------------*/
.body-list-mobile {
  min-height: 100%;
  min-width: 280px;
  max-height: 110px;
  display: flex;
  flex-direction: column;
  background: var(--dark-blue);
  gap: 30px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.icon-cards-mobile {
  display: block;
  margin: -10px 8px 100px;
}
.cards-title-mobile {
  color: #02da68;
  font-weight: bold;
  font-size: 20px;
  /* margin: 10px; */
  line-height: 20px;
}
.bd-box-mobile {
  border: 0px solid;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*-------------------------Cards-info------------------------------*/
.body-list {
  min-height: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  background-image: url("../../../public/images/background.jpg");
  transition: min-height 0.4s ease-in-out;
  gap: 30px;
  padding-top: 35px;
  padding-bottom: 35px;
  overflow: hidden;
}
.list-group {
  border-radius: 25px;
}

.bd-box {
  border: 0px solid;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.line {
  width: 60px;
  height: 3px;
  background-color: #02da68;
  margin-top: 5px;
}
.cards-line {
  width: 95%;
  height: 2px;
  background-color: #3f3e3e26;
  margin: 10px;
}
.cards-size {
  height: 100%;
  width: auto;
  margin: 10px;
}
.cards-title {
  color: #02da68;
  font-weight: bold;
  font-size: 26px;
  margin: 10px;
  line-height: 10px;
}
.points {
  background-image: url("../../../public/images/sff-point-front.svg");
}
.points:hover {
  background-image: url("../../../public/images/sff-point.svg");
}
/*----------------------------Hover----------------------------*/
.card-hb {
  color: white;
  /* transition: background-color 0.4s ease-in-out; */
}
.icon-cards {
  display: none;
}
.card-hb:hover .icon-cards {
  display: block;
  transition: all 0.7s ease-in-out;
  margin-left: 8px;
}
.card-hb:hover .icon-cards:first-child img {
  margin-left: 0px;
}
.card-hb:hover {
  background-color: #051630;
  border: none;
  background-image: none;
  transition: all 0.7s ease-in-out;
  padding: 1.5rem 1rem;
  gap: 13px;
  min-height: 642px;
  max-height: 642px;
}
.card-hb:hover li {
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
/*--------------------------------------------------------*/

.contact_slide {
  background: #02dd68;
  color: #051630;
}
.contact_slide:hover {
  background: #02dd68;
  color: #051630;
}
.cash_slide {
  background: #ffffff;
  color: #051630;
}
.cash_slide:hover {
  background: #ffffff;
  color: #051630;
}
/*-----------scroolTop-------------*/
.scroll-to-top-button {
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 200;
}

.scroll-to-top-button.visible {
  opacity: 1;
}
/*----------------Ideas-----------------*/
.line-idea {
  width: auto;
  height: 1px;
  background-color: #3f3e3e80;
  margin: 30px;
  margin-top: 12px;
}
.idea-dots li {
  color: red;
  border-color: #051630;
}
#idea-carrusel .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: left;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 60px;
}
#idea-carrusel .carousel-indicators [data-bs-target] {
  background-color: var(--dark-blue);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
/*---------------Provider Mobile--------*/


@media (max-width: 767px) {
  #provider-carrusel .carousel-control-prev, .carousel-control-next{
    width: 10%;
  }
  #provider-carrusel .carousel-control-next{
    width: 10%;
    top: -15px;
  }
  #provider-carrusel .carousel-control-prev-icon{
    background-image: url("../../../public/images/sff-ttm-prev.svg");
    width: 15%;
  }
  #provider-carrusel .carousel-control-next-icon{
    background-image: url("../../../public/images/sff-ttm-next.svg");
    width: 15%;
  }
  #provider-carrusel .carousel-indicators {
    justify-content: center;
    margin: auto;
    margin-left: 0;
  }
  #provider-carrusel .carousel-indicators [data-bs-target] {
    background-color:var(--white-gray);
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
  #provider-carrusel .carousel-indicators .active{
    background-color:var(--green);
  }
}
/*-----------------Ideas Mobile---------------*/
@media (min-width: 768px) {
  #idea-carrusel .carousel-indicators {
    justify-content: left;
    margin-left: 60px;
  }
}

@media (max-width: 767px) {
  #idea-carrusel .carousel-indicators {
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    top: 95%;
  }
  #idea-carrusel .carousel-indicators [data-bs-target] {
    background-color: var(--white-gray);
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
  #idea-carrusel .carousel-indicators .active {
    background-color: var(--green);
  }
}
/*---------------Help-----------*/
#help .card-text {
  font-size: 18px;
}
/*------------form-------------*/
.form-check-input[type="checkbox"] {
  border-radius: 1.25em;
}
#form #message::placeholder,
#phone::placeholder,
#company::placeholder,
#email::placeholder,
#name::placeholder {
  color: var(--white);
  font-size: 11px;
}
#form-instapay #freight::placeholder,
#comments::placeholder,
#fullphone::placeholder,
#fullcompany::placeholder,
#fullemail::placeholder,
#fullname::placeholder {
  color: var(--gray-dark);
  font-size: 11px;
}
.form-control:focus {
  background: var(--gray-transparent);
}
/*-----------Testimonial---------*/
#testimonial .carousel-item .card {
  width: 350px;
  height: auto;
  margin: auto;
}

#testimonial .carousel-control-prev-icon {
  background-image: url("../../../public/images/sff-ttm-prev.svg");
  width: 15%;
}
#testimonial .carousel-control-next-icon {
  background-image: url("../../../public/images/sff-ttm-next.svg");
  width: 15%;
}
#testimonial .carousel-control-prev,
.carousel-control-next {
  width: 5%;
}
#testimonial .carousel-inner {
  overflow: visible;
}
#stars {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#stars p {
  text-align: center;
}

#stars label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: var(--green);
}

input[type="radio"]:checked ~ label {
  color: var(--green);
}
/*-----------Testimonial Mobile-------------*/

@media (max-width: 767px) {
  #testimonial .carousel-control-prev-icon {
    background-image: url("../../../public/images/sff-ttm-prev.svg");
    width: 100%;
    margin-left: 40%;
  }
  #testimonial .carousel-control-next-icon {
    background-image: url("../../../public/images/sff-ttm-next.svg");
    width: 100%;
    margin-right: 40%;
  }
  #testimonial .carousel-indicators {
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    top: 100%;
  }
  #testimonial .carousel-indicators [data-bs-target] {
    background-color: var(--white-gray);
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
  #testimonial .carousel-indicators .active {
    background-color: var(--green);
  }
}
/*-----------Accordion-----------------*/
.accordion-mp {
  margin-top: 10%;
  padding-bottom: 12%;
}
.accordion-button {
  font-weight: bold;
  font-size: 20px;
}
.accordion-item {
  border: none;
  border-bottom: var(--bs-accordion-border-width) solid
    var(--bs-accordion-border-color);
  border-top: var(--bs-accordion-border-width) solid
    var(--bs-accordion-border-color);
}
.accordion-button:not(.collapsed) {
  background-color: var(--white);
  color: var(--dark-blue);
}
.accordion-button:focus {
  box-shadow: var(--white);
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../../../public/images/sff-hp-down.svg");
}
.accordion-button::after {
  background-image: url("../../../public/images/sff-hp-down.svg");
}
/*----------Accordin Mobile----------------------*/
@media (max-width: 767px) {
  .accordion-button {
    font-weight: bold;
    font-size: 16px;
  }
  #title-mobile{
    font-size: 15px ;
    margin-right: 12px;
  }
}
/*----------steps----------*/
.step-container {
  display: flex;
  margin-bottom: 20px;
  border-left: 2px solid var(--dark-blue);
  padding-right: 20px;
  padding-left: 0px;
  margin-top: -25px;
  padding-bottom: 30px;
}

.step-container:nth-of-type(3) {
  border-left: none;
}

.step-number {
  background-color: var(--dark-blue);
  border-radius: 50%;
  color: var(--green);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 30px;
  margin-left: -15px;
}

.step-content {
  flex: 1;
}
/*---------Steps Mobile-----*/
@media (max-width: 767px) {
  .step-number {
    background-color: var(--dark-blue);
    border-radius: 50%;
    color: var(--green);
    width: 40px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 30px;
    margin-left: -21px;
  }
}

/*---------Benefits---------*/
.width-bf {
  width: 40.9px;
}
.img-style {
  margin-top: -110px;
  margin-right: 10px;
  width: 8%;
}
.img-style2 {
  margin-top: -50px;
  margin-right: 10px;
  width: 10%;
}
.img-style3 {
  margin-top: -80px;
  margin-right: 10px;
  width: 8%;
}
.img-style4 {
  margin-top: -107px;
  margin-right: 10px;
  width: 8%;
}
@media (min-width: 767px) {
  .w-md-65{
    width: 65% !important;
  }
}
@media (max-width: 767px) {
  .w-md-100{
    width: 100% !important;
  }

}
/*-------Programs---------------*/
.line-program {
  width: 40px;
  height: 3px;
  background-color: #02da68;
}
.line-programs {
  border-bottom: 1px solid #b3b3b26e;
}
/*-------Search----------*/
.bg-search {
  background-image: url("../../../public/images/sff-search.jpg");
}
@media (max-width: 767px) {
  .hide-background-mobile {
    background-image: none;
    background-color: #e9e9e97d;
  }
}
.sub-line {
  border-bottom: 2px solid var(--green);
}
#hover span:hover {
  color: var(--dark-blue) !important;
}
/*------------AboutUs--------------*/
.al-left {
  align-items: start !important;
}
/*------------Contact---------------*/

@media (max-width: 767px) {
  .fsm-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
}

.p-contact {
  padding-bottom: 24% !important;
}

.mp-contact {
  margin-top: -15rem;
  padding-bottom: 12px;
}
.line-contact {
  border-bottom: 1px solid var(--dark-blue);
}

@media (max-width: 767px) {
  .mp-contact {
    margin-top: -10rem;
    padding-bottom: 12px;
  }
}
.remove-link-styles {
  font-style: none;
  text-decoration: none;
  color: var(--dark-blue);
}
