@import "../../../node_modules/bootstrap";

:root {
/*----------------------------------------------------------*/
  --dark-blue: #051630;
  --green: #02dd68;
  --dark-green: #2b9958;
  --gray: #4D4D4D;

}

.text-dark-blue {
 color: var(--dark-blue) 
}

.text-green {
  color: var(--green)
 }

.text-green:hover{
  color: var(--green)
}

.bg-green {
  background-color: var(--green)
}
/*-------------------------NavBar-------------------------------*/
#basic-nav-dropdown{
  min-width: 1rem;
}

/*-------------------------tamaños------------------------------*/
.minWidth{
  min-width: 1rem!important;

}
/*-------------------------Fonts------------------------------*/
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
.fw-400 {
  font-weight: 400;
 }
.fw-600 {
 font-weight: 600;
}
/*------------------------Sections----------------------------*/
.gray-section {
  flex: 1;
  background-color: #dddddd; /* Color gris de fondo */
  padding: 100px; /* Ajusta según sea necesario */
}

.white-section {
  flex: 1;
  background-color: #ffffff; /* Color blanco de fondo */
  padding: 100px; /* Ajusta según sea necesario */
}
/*-------------------------Cards------------------------------*/

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: -100px;
}
.card-column{
  display: flex;
  justify-content: space-evenly;
  margin-left: 40px;
}
.flip-container {
  background-color: transparent;
  width: 300px;
  height: 300px;
  /* border: 1px solid #ccc; */
  perspective: 1000px; 
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 15px;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.1);
}
.flip-container:hover .card {
  transform: rotateY(180deg);
}
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  /* background-color: white; */
  color: #051630;
  border-radius: 15px;
}
.back{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 5rem;
  background-color: #051630;
  color: white;
  transform: rotateY(180deg);
  border-radius: 15px;
}
.icons{
  width: 90px;
}
.icons2{
  width: 50px;
}

.card-icon, .card-text {
  font-size: 35px; /* Ajusta según sea necesario */
  backface-visibility: hidden;
}
.card-icon-back, .card-text-back {
  font-size: 20px; /* Ajusta según sea necesario */
  backface-visibility: hidden;
  margin: 10px;
  margin-bottom: 0px;
  color: #02DA68;
}
.card-text-bottom{
  font-size: 19px;
  margin-top: 20px;
  backface-visibility: hidden;
}
.card-text-bottom-back{
  font-size: 15px;
  margin-top: 20px;
  text-align: left;
  margin: 10px;
  backface-visibility: hidden;
}

.line-front{
  width: 60px; /* Ajusta según sea necesario */
  height: 3px; /* Ajusta según sea necesario */
  background-color: #02DA68; /* Ajusta el color según sea necesario */
  margin-top: 5px; /* Ajusta según sea necesario */
}
.line-back{
  width: 90%; /* Ajusta según sea necesario */
  height: 3px; /* Ajusta según sea necesario */
  background-color: #02DA68; /* Ajusta el color según sea necesario */
  margin-top: 5px; /* Ajusta según sea necesario */
  margin-left: 10px;
}
/*-------------------------Cards-info------------------------------*/
.line{
  width: 60px; /* Ajusta según sea necesario */
  height: 3px; /* Ajusta según sea necesario */
  background-color: #02DA68; /* Ajusta el color según sea necesario */
  margin-top: 5px; /* Ajusta según sea necesario */
}
/*--------------------------------------------------------*/

.contact_slide{
  background:#02dd68;
  color: #051630;
}
.contact_slide:hover{
  background:#02dd68;
  color: #051630;
}
.cash_slide{
  background:#FFFFFF;
  color: #051630;
}
.cash_slide:hover{
  background:#FFFFFF;
  color: #051630;
}