@import "../../../node_modules/bootstrap";
@import "montserrat.css";
:root {
/*----------------------------------------------------------*/
  --dark-blue: #051630;
  --white: #ffff;
  --white-gray:#D9D9D9;
  --white-gray-shadow:#F3F3F3;
  --green: #02dd68;
  --dark-green: #2b9958;
  --gray: #4D4D4D;
  --gray-dark: #3F3E3E;
  --gray-white: #F3F3F380;
  --gray-transparent: #D9D9D92E;

}
body{
  font-family: 'Montserrat', sans-serif;
}

.dropdown-toggle::after{
  display: none;
}
/*--------------------------------------------------------*/

.text-dark-blue {
 color: var(--dark-blue) 
}

.text-green {
  color: var(--green)
 }

.text-green:hover{
  color: var(--green)
}

.text-gray-dark{
  color: var(--gray-dark);
}

.bg-green {
  background-color: var(--green)
}
.bg-white-gray{
  background-color: var(--white-gray);
}
.bg-dark-blue{
  background-color: var(--dark-blue)
}
.bg-grey{
  background-color: var(--gray-white)
}
.bg-grey-transparent{
  background-color: var(--gray-transparent)
}
.bg-white-shadow{
  background-color: var(--white-gray-shadow)
}
.bg-img{
  background-image: url("../../../public/images/background.jpg");
}

.pt-6{
  padding-top: 6rem !important;
}
.mb-6{
  margin-bottom: 6rem !important;
}
.mb-7{
  margin-bottom: 7rem !important;
}
.mb-8{
  margin-bottom: 8rem !important;
}
.mt-6{
  margin-top: 6rem !important;
}
.mt-7{
  margin-top: 7rem !important;
}
.mt-8{
  margin-top: 8rem !important;
}
/*-------------------------NavBar-------------------------------*/
#basic-nav-dropdown{
  min-width: 1rem;
}
.nav-link.active, .nav-link:hover, span:hover{
  color: var(--green) !important;
}
/*-------------------------Botones (nav, footer, en general)------------------------------*/
.dropdown-menu{
  min-width: 10px;
  background: rgb(248, 248, 248);
}

.dropdown-item:active{
  color: var(--green) !important;
  /* background: none; */
}
.dropdown-item:hover{
  color: var(--green) !important;
  background: var(--dark-blue)
}
#form .btn{
  background:var(--green) !important;
  border-radius: 4px;
}
#form-instapay .btn{
  background:var(--green) !important;
  border-radius: 4px;
}
#form .btn:hover{
  background:var(--green) !important;
  color: var(--dark-blue);
}
/*-------------------------Fonts------------------------------*/
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
.fs-5{
  font-size: 1.210rem !important;
}
.fw-400 {
  font-weight: 400;
 }
.fw-500 {
  font-weight: 500;
 }
.fw-600 {
 font-weight: 600;
}

/*------------------------Sections----------------------------*/
.info-container{
  padding-top: 90px;
  top: 50%;
  text-align: right;
}
.slider-container{
  position: absolute;
  top: 50%;
  transform: translate(10%, -20%);
  text-align: left;
}
.banner-container{
  position: absolute;
  top: 30%;
  transform: translate(10%, -20%);
  text-align: left;
}

.gray-section {
  flex: 1;
  background-color: #dddddd; /* Color gris de fondo */
  padding: 100px; /* Ajusta según sea necesario */
}

.white-section {
  flex: 1;
  background-color: #ffffff; /* Color blanco de fondo */
  padding: 100px; /* Ajusta según sea necesario */
  /* max-height: 936px;
  min-height: 936px; */
}
/*-------------------------Cards------------------------------*/

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: -100px;
}
.card-column{
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 40px; */
}
.flip-container {
  background-color: transparent;
  width: 300px;
  height: 300px;
  /* border: 1px solid #ccc; */
  perspective: 1000px; 
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 15px;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.1);
}
.flip-container:hover .card {
  transform: rotateY(180deg);
}
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  /* background-color: white; */
  color: #051630;
  border-radius: 15px;
}
.back{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 5rem;
  background-color: #051630;
  color: white;
  transform: rotateY(180deg);
  border-radius: 15px;
}
.list-group li {
  margin-left: 5px;
}

.icons{
  width: 54px;
  margin-bottom: 10px;
}
.icons2{
  width: 40px;
  margin-bottom: 10px;
}

.card-icon, .card-text {
  font-size: 35px; /* Ajusta según sea necesario */
  backface-visibility: hidden;
}
.card-icon-back, .card-text-back {
  font-size: 20px; /* Ajusta según sea necesario */
  backface-visibility: hidden;
  margin: 10px;
  margin-bottom: 0px;
  color: #02DA68;
}
.card-text-bottom{
  font-size: 19px;
  line-height: 20px;
  margin-top: 20px;
  backface-visibility: hidden;
}
.card-text-bottom-back{
  font-size: 15px;
  margin-top: 20px;
  text-align: left;
  margin: 15px;
  backface-visibility: hidden;
  line-height: 20px;
}
.line-front{
  width: 60px; /* Ajusta según sea necesario */
  height: 3px; /* Ajusta según sea necesario */
  background-color: #02DA68; /* Ajusta el color según sea necesario */
}
.line-back{
  width: 90%; /* Ajusta según sea necesario */
  height: 3px; /* Ajusta según sea necesario */
  background-color: #02DA68; /* Ajusta el color según sea necesario */
  margin-top: 5px; /* Ajusta según sea necesario */
  margin-left: 10px;
}
/*-------------------------Cards-info------------------------------*/
.body-list{
  min-height: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  transition: min-height 0.4s ease-in-out;
  gap: 30px;
  padding-top: 35px;
  padding-bottom: 35px;
  overflow: hidden;
}
.list-group {
  border-radius: 25px;
}

.bd-box{
  border: 0px solid;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.line{
  width: 60px; /* Ajusta según sea necesario */
  height: 3px; /* Ajusta según sea necesario */
  background-color: #02DA68; /* Ajusta el color según sea necesario */
  margin-top: 5px; /* Ajusta según sea necesario */
}
.cards-line{
  width: 95%; /* Ajusta según sea necesario */
  height: 2px; /* Ajusta según sea necesario */
  background-color: #3F3E3E26; /* Ajusta el color según sea necesario */
  margin: 10px; /* Ajusta según sea necesario */
}
.cards-size{
  height: 100%;
  width: auto;
  margin: 10px;
}
.cards-title{
  color: #02DA68;
  font-weight: bold;
  font-size: 26px;
  margin: 10px;
  line-height: 10px;
}
.points{
  background-image: url("../../../public/images/sff-point-front.svg");
}
.points:hover{
  background-image: url("../../../public/images/sff-point.svg");
}
/*----------------------------Hover----------------------------*/
.card-hb{
  color:white;
  /* transition: background-color 0.4s ease-in-out; */
}
.icon-cards{
  display: none;
}
.card-hb:hover .icon-cards{
  display: block;
  transition: all 0.7s ease-in-out;
  margin-left: 8px;
}
.card-hb:hover .icon-cards:first-child img{
  margin-left: 0px;
}
.card-hb:hover{
  background-color: #051630;
  border: none;
  background-image: none;
  transition: all 0.7s ease-in-out;
  padding: 1.5rem 1rem;
  gap: 13px;
  min-height: 642px;
  max-height: 642px;
  
}
.card-hb:hover li{
  color: #FFFFFF;
  transition: all 0.2s ease-in-out;
}
/*--------------------------------------------------------*/

.contact_slide{
  background:#02dd68;
  color: #051630;
}
.contact_slide:hover{
  background:#02dd68;
  color: #051630;
}
.cash_slide{
  background:#FFFFFF;
  color: #051630;
}
.cash_slide:hover{
  background:#FFFFFF;
  color: #051630;
}
/*-----------scroolTop-------------*/
.scroll-to-top-button {

  bottom: 20px;
  right: 20px; 
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 200;
}

.scroll-to-top-button.visible {
  opacity: 1;
}
/*----------------Ideas-----------------*/
.line-idea{
  width: auto; 
  height: 1px; 
  background-color: #3F3E3E80; 
  margin: 30px;
  margin-top: 12px;
}
.idea-dots li {
 color:red ;
  border-color: #051630;
}
#idea-carrusel .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: left;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 60px;
}
#idea-carrusel .carousel-indicators [data-bs-target] {
  background-color:var(--dark-blue);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
/*---------------Help-----------*/
#help .card-text {
  font-size: 18px;
}
/*------------form-------------*/
.form-check-input[type=checkbox]{
  border-radius: 1.25em;
}
#form #message::placeholder,#phone::placeholder,#company::placeholder,#email::placeholder,#name::placeholder {
  color: var(--white);
  font-size: 11px;
}
#form-instapay #freight::placeholder, #comments::placeholder,#fullphone::placeholder,#fullcompany::placeholder,#fullemail::placeholder,#fullname::placeholder {
  color: var(--gray-dark);
  font-size: 11px;
}
.form-control:focus{
background: var(--gray-transparent);
}
/*-----------Testimonial---------*/
#testimonial .carousel-control-prev-icon{
  background-image: url("../../../public/images/sff-ttm-prev.svg");
  width: 15%;
}
#testimonial .carousel-control-next-icon{
  background-image: url("../../../public/images/sff-ttm-next.svg");
  width: 15%;
}
#testimonial .carousel-control-prev, .carousel-control-next{
  width: 5%;
  
}
#testimonial .carousel-inner{
  overflow: visible;
}
#stars {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#stars p {
  text-align: center;
}

#stars label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: var(--green);
}

input[type="radio"]:checked ~ label {
  color: var(--green);
}
/*-----------Accordion-----------------*/
.accordion-button{
  font-weight: bold;
  font-size: 20px;
}
.accordion-item{
  border: none;
  border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
  border-top: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
.accordion-button:not(.collapsed){
  background-color: var(--white);
  color: var(--dark-blue);
}
.accordion-button:focus{
  box-shadow: var(--white);
}
.accordion-button:not(.collapsed)::after{
  background-image: url("../../../public/images/sff-hp-down.svg");
}
.accordion-button::after{
  background-image: url("../../../public/images/sff-hp-down.svg");
}
/*----------steps----------*/
.step-container {
  display: flex;
  margin-bottom: 20px;
  border-left: 2px solid var(--dark-blue); 
  padding-right: 20px;
  padding-left:0px;
  margin-top: -25px;
  padding-bottom: 30px;
}

.step-container:nth-of-type(3){
  border-left: none;
}

.step-number {
  background-color: var(--dark-blue);
  border-radius: 50%;
  color: var(--green);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 30px;
  margin-left:-15px;
}

.step-content {
  flex: 1;
}