body {
    margin: 0; /* Elimina los márgenes predeterminados del cuerpo de la página */
    padding: 0; /* Elimina el espacio de relleno predeterminado del cuerpo de la página */
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}

/*--------------------------------NAVBAR---------------------*/

.navbar-container {
    padding-top: 20px; /* Espacio desde la parte superior */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    max-width: 1720px; /* Ancho máximo del contenedor */
}

.navbar {
  
    margin: 20px auto 0 auto; /* Centra el contenido horizontalmente */
    max-width: 1720px; /* Ancho máximo del contenedor */
    background: linear-gradient(to right, #ffffff 50%, #ccc); /* Degradado blanco a gris */
    border-radius: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
 
   
}
.navbar-title{
    font-size: 20px;
    font-style: italic;
}

.title-part{
    color: #051630;
    font-weight: bold;
    margin-left: 15px; /* Separación del borde izquierdo */
    font-size: 24px; /* Tamaño de fuente más grande */
    text-align: left; /* Alinea el texto a la izquierda */
}

.title-part span {
    color: #02dd68;
}

.navbar-nav .nav-link {
    color: #333;
}
.navbar-right{
    gap: 10px;
 }
 
#btn-sign{
    background: #051630;
    color: #fff;
    font-weight: 600;
}
#btn-language{
    color: #02dd68;
    border: none;
    font-weight: 600;
}

/*-----------------COLORS------------------*/
.colors-section {

    display: flex;
    margin: 0 auto; /* Centra el contenido horizontalmente */
    max-width: 1720px; /* Ancho máximo del contenedor */
}


.navbar-title-color{
    font-size: 30px;
    padding-bottom: 10px;
}

.color-box {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 20px;
    border-radius: 15%;
}

.color-name {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 15px;
    color: gray;
}

.color-pair {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.circle-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinear los círculos a la izquierda */
    width: 10%;
    margin-top: 22px;
    color: grey;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding-bottom: 10px;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.circle p{
    margin-left: 30px;
}

.circle-1 {
    background-color: #2b9958; /* Color 1 */
}

.circle-2 {
    background-color: #02dd68; /* Color 2 */
}

/*----------------------BUTTONS---------------------*/

/* Estilos para los botones */
.buttons-section {
    padding: 20px;
    text-align: center;
    display: block;
    margin-left: 30%;
    width: 100%;
    margin-top: -77px;
}

.btn-custom {
    background-color: #051630;
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
    width: 200px;
}

.btn-custom i {
    color: #fff;
    margin-right: 10px;
}

.btn-primary {
    display: block;
    width: 66%;
    margin-left: 80px;
    background-color: #051630;
}

.btn-secondary {
    display: block;
    width: 66%;
    margin-left: 80px;
    background-color: grey;
}
#arrow-right{
    width: 6%;
    margin-left: 10px;
    margin-right: 10px;
}
#arrow-down{
    width: 6%; 
    background:#02dd68;
}
.btn:hover{
    color: white;
}
/*----------------------TITLE---------------------*/
.title-section{
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 0 auto; /* Centra el contenido horizontalmente */
    margin-left: 44px;
    max-width: 1720px; /* Ancho máximo del contenedor */
}

/* Estilos para la sección TYPEFACE */
.typeface-section {
    margin-left: 44px;
}

.typeface-section h2 {
    font-family: Montserrat, sans-serif; /* Establece la familia de fuentes */
    font-weight: bold;
    color: #051630;
}

.typeface-section p {
    font-family: Montserrat, sans-serif; /* Establece la familia de fuentes */
    font-size: 20px;
    color: grey;
    line-height: 10px;
    margin-top: 5px;
}

.typeface-section h1, .typeface-section h2, .typeface-section h3, .typeface-section h4 {
    margin-top: 5px;
    font-weight: bold;
    color: grey;
}

.typeface-section span {
    color: black;
}
/*--------------------IMAGE-------------------------*/

.img-fluid2{
    margin-left: 15px;
    max-width: 80%;
    padding-top: 10px;
    height: auto;
}
#information{
    background-image:url(../sff-truck-driver.jpg);
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
    max-width: 100%;
    padding: 100px 0 100px 0;
    width: 100%;
}
#information-title{
    margin-left: 50px; 
    font-size: 1.5rem;
    font-family: Montserrat, sans-serif;
    color: grey;
    align-items: center;
}
#information-text{
    margin-left: 50px; 
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #051630;
}
#learn-more{
    margin: 0 0 0 50px;
    width:20%;
}
#learn-more:hover{
    background:#051630;
}
.section-button{
    margin-left: 44px;
    padding-bottom: 10px;
    
}

#face{
    background: #02dd68 ;
    color: white;
    width: 100px;
    font-size: 30px;
}
#insta{
    background: #02dd68 ;
    color: white;
    width: 100px;
    font-size: 30px;
}
#link{
    background: #02dd68 ;
    color: white;
    width: 100px;
    font-size: 30px;
}

.section-button2{
    margin-left: 44px;
    padding-bottom: 10px;
}
#face2{
    background: #051630 ;
    color: white;
    width: 100px;
    font-size: 30px;
}
#insta2{
    background: #051630 ;
    color: white;
    width: 100px;
    font-size: 30px;
}
#link2{
    background: #051630 ;
    color: white;
    width: 100px;
    font-size: 30px;
}

/*--------------------FORMS-------------------------*/
form{
    background: rgb(0,39,99);
    background: linear-gradient(90deg, rgba(0,39,99,1) 0%, rgba(29,25,139,1) 10%, rgba(73,70,181,1) 21%, rgba(4,1,103,1) 33%, rgba(11,7,125,1) 45%);
    color: white;
}
.form-row{
    margin-right: 50px;
    margin-left: 50px;
}
textarea.form-control{
    height: auto;
    margin-left: 53px;
    margin-right: 50px;
    width: 88%;
}
#submit-form{
    background:#02dd68;
    color: #051630;
    border-radius: 1px solid;
}
#learn-more{
    background:#051630;
    color: white;
    width: 20%;
}
#information{
    margin-top: 50px;
    background: gray;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


       .height{
        height: 10vh;
       }
       
       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
       }

       .search input{
        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
       }

       .search input:focus{
        box-shadow: none;
        border: 2px solid #051630;
       }

       .search .fa-search{
        position: absolute;
        top: 20px;
        left: 16px;
       }

       .search button{
        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: #051630;
        font-size: 20px;
       }