<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<header>
    <!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid justify-content-between">
      <!-- Left elements -->
      <div class="d-flex">
        <!-- Brand -->
        <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
          <img
            src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
            height="20"
            alt="MDB Logo"
            loading="lazy"
            style="margin-top: 2px;"
          />
        </a>
        <div class="navbar-title">
            <div class="title-part">SMART FLEET</div>
            <div class="title-part"><span>FUNDING</span></div>
        </div>
      </div>
      <!-- Left elements -->
  
      <!-- Center elements -->
      <ul class="navbar-nav flex-row d-none d-md-flex">
        <li class="nav-item me-3 me-lg-1 active">
            <a class="nav-link" href="#">HOME</a>
        </li>
  
        <li class="nav-item me-3 me-lg-1">
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    OUR SERVICES
                </button>
                <div class="dropdown-menu">
                    <!-- Aquí puedes agregar opciones de servicios -->
                    <a class="dropdown-item" href="#">Servicio 1</a>
                    <a class="dropdown-item" href="#">Servicio 2</a>
                    <a class="dropdown-item" href="#">Servicio 3</a>
                </div>
            </div>
        </li>
  
        <li class="nav-item me-3 me-lg-1">
            <a class="nav-link" href="#">ABOUT</a>
        </li>
  
        <li class="nav-item me-3 me-lg-1">
            <a class="nav-link" href="#">CONTACT</a>
        </li>
  
        <li class="nav-item me-3 me-lg-1">
            <a class="nav-link" href="#">FAQS</a>
        </li>
      </ul>
      <!-- Center elements -->
  
      <!-- Right elements -->
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
            <a class="btn btn-primary" href="#">SIGN IN</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-secondary" href="#">ING</a>
        </li>
    </ul>
      <!-- Right elements -->
    </div>
  </nav>

</header>
<body>
<div class="section-1">
  
    <div class="title-section">
    <h1>COLORS</h1>
    </div>
    <div class="colors-section">
    <div class="color-pair">
        <div class="color-box" style="background-color: #051630;"></div>
        <div class="color-name">#051630</div>
    </div>
    <div class="color-pair">
        <div class="color-box" style="background-color: #02dd68;"></div>
        <div class="color-name">#02dd68</div>
    </div>
    <div class="color-pair">
        <div class="color-box" style="background: linear-gradient(to right, #2B9958, #02DD68);"></div>
    </div>
    <div class="circle-container">
        <div class="circle circle-1"><p>#2B9958</p></div>
        <div class="circle circle-2"><p>#02DD68</p></div>
    </div>
    
    <div class="buttons-section">
        <h2>BUTTONS</h2>
        <button class="btn btn-custom">GET STARTED</button>
        <button class="btn btn-custom" id="arrow-right"><i class="fas fa-arrow-right"></i></button>
        <button class="btn btn-custom">DOWNLOAD</button>
        <button class="btn btn-custom" id="arrow-down"><i class="fas fa-arrow-down" style="color:#051630 ;"></i></button>
        <button class="btn btn-custom btn-primary">LEARN MORE</button>
        <button class="btn btn-custom btn-secondary">CONTACT US</button>
    </div>
    </div>

</div>
<div class="section-2">
    <div class="row">
        <div class="col">
            <div class="title-section">
                <h1>TYPEFACE</h1>
            </div>
            <div class="typeface-section">
                <p>Font Family <span>Montserrat</span></p>
                <h1>HEADER 1</h1>
                <h2>HEADER 2</h2>
                <h3>HEADER 3</h3>
                <h4>HEADER 4</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget ante purus.</p>
            </div>
            </div>
        <div class="col">
            <div class="buttons-section-title">
                <h2>HOVER</h2>
                <button class="btn btn-custom">GET STARTED</button>
                <button class="btn btn-custom">DOWNLOAD</button>
                <button class="btn btn-custom" id="arrow-down"><i class="fas fa-arrow-down" style="color:#051630 ;"></i></button>
                <button class="btn btn-custom btn-primary">LEARN MORE</button>
                <button class="btn btn-custom btn-secondary">CONTACT US</button>
            </div>
        </div>
</div>
</div>
<div class="section-3">
    <div class="row">
        <div class="col">
            <div class="title-section">
                <h1>IMAGE</h1>
            </div>
            <div class="image-section">
                <img src="../test.png" class="img-fluid" alt="...">
                <img src="../test.png" class="img-fluid2" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="title-section">
                <h1>BUTTON SOCIAL MEDIA</h1>
            </div>
            <div class="section-button">
                <a href="#" id="face" class="btn mr-3">
                    <i class="fab fa-facebook-f"></i>
                </a>
                
                <!-- Botón de Instagram -->
                <a href="#" id="insta" class="btn btn-info mr-3">
                    <i class="fab fa-instagram"></i>
                </a>
                
                <!-- Botón de LinkedIn -->
                <a href="#" id="link" class="btn btn-info">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <div class="section-button2">
                <a href="#" id="face2" class="btn mr-3">
                    <i class="fab fa-facebook-f"></i>
                </a>
                
                <!-- Botón de Instagram -->
                <a href="#" id="insta2" class="btn btn-info mr-3">
                    <i class="fab fa-instagram"></i>
                </a>
                
                <!-- Botón de LinkedIn -->
                <a href="#" id="link2" class="btn btn-info">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="section-4">
    <div class="row">
        <div class="col">
            <div class="title-section">
                <h1>FORMS</h1>
            </div>
            <div class="form-section">
                <form>
                    <h1>Let's get started!</h1>
                    <hr style="border: 2px solid #02dd68; width: 10%; margin: 0 0 10px 0;">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputName" placeholder="Full Name">
                      </div>
                      <div class="form-group col-md-6">
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Your E-mail">
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputCompany" placeholder="Company Name">
                      </div>
                      <div class="form-group col-md-6">
                        <input type="number" class="form-control" id="inputAddress2" placeholder="Phone">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Description" rows="3"></textarea>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Spanish
                        </label>
                      </div>
                      <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                  </form>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
    </div>
</div>
</div>

</div>

<!-- Include Bootstrap JS and jQuery (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
